@model Sjg.IdentityCore.Models.AccAuthGroup

<div class="row">
    <div class="col-12 col-md-4">
        <div class="form-group">
            <label asp-for="Group" class="control-label"></label>
            <input asp-for="Group" class="form-control" readonly />
        </div>
    </div>
    <div class="col-12 col-md-4">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" readonly />
    </div>
    <div class="col-12 col-md-4">
        <label asp-for="Category" class="control-label"></label>
        <input asp-for="Category" class="form-control" readonly />
    </div>
</div>