@model Sjg.IdentityCore.Models.AccAuthUser

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" readonly />
        </div>
    </div>
    <div class="col-12 col-md-6">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
</div>