@*@{
        Layout = "/Areas/UserMgmt/Pages/Shared/_Layout.cshtml";
    }

    NOT USED AT THIS TIME

    <header>
        <h4>Users</h4>
    </header>

    <hr />
    <div>
        @RenderBody()
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }*@