@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<header>
    <h2>@ViewData["Title"]</h2>
</header>

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<p>Thank you for confirming your email.</p>
<p>
    <a asp-area="Identity" asp-page="/Account/Login">Click here to Login</a>
</p>
<p>
    <a asp-page="/Index">Click here to return to Home Page</a>
</p>