@page
@model ConfirmEmailResendModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}
<header>
    <h2>@ViewData["Title"]</h2>
</header>

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<div class="row">
    <div class="col-md-6">
        <section>
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="control-label"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmEmail" class="control-label"></label>
                    <input asp-for="Input.ConfirmEmail" class="form-control" />
                    <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}