@page
@model LockoutModel
@{
    ViewData["Title"] = "Inactive Account";
}
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
</header>

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<p class="text-danger">This account has been inactivated.  Contact Support.</p>