@page
@inject Sjg.IdentityCore.Services.IAccAuthConfiguration accAuthConfiguration

@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input type="hidden" asp-for="Input.InviteCode" />
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @if (accAuthConfiguration.InvitationOnly)
            {
            <div class="form-group text-danger">
                Registration is by invitation only.  An invitation code should have
                been received via email.  That invitation code and email address are required.
            </div>

            <div class="form-group">
                <label asp-for="Input.InviteCode" class="control-label"></label>
                <input asp-for="Input.InviteCode" class="form-control" />
                <span asp-validation-for="Input.InviteCode" class="text-danger"></span>
            </div>
            }

            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}