@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<header>
    <h2>@ViewData["Title"]</h2>
</header>

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>