@page
@model SjgIdentityCoreModel

@{

    ViewData["Title"] = "Sjg.IdentityCore";
}

<div class="row justify-content-md-center mt-5">
    <div class="col-12 border border-dark rounded site-container">

        <header>
            <h2>@ViewData["Title"]</h2>
        </header>

        <section>
            <hr />
            This site utilizes Sjg.IdentityCore available on <i class="fab fa-github"></i>&nbsp;GitHub at
            <a href="https://github.com/SteveGos/Sjg.IdentityCore">https://github.com/SteveGos/Sjg.IdentityCore</a>.
            <br />
            <br />
            <p>
                See <a href="https://github.com/SteveGos/Sjg.IdentityCore">https://github.com/SteveGos/Sjg.IdentityCore</a>
                for usage information, documentation, and license.
            </p>
        </section>
    </div>
</div>