@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.AccAuthRoles.DetailsModel

@{
    ViewData["Title"] = "Access Role";
}

<h5>
    @ViewData["Title"]

    <small>
        &nbsp;&nbsp;
        <a asp-page="./RoleUsers" asp-route-id="@Model.AccessRole.Id">Users</a>
        &nbsp;&nbsp;
        <a asp-page="./RoleGroups" asp-route-id="@Model.AccessRole.Id">Groups</a>
        &nbsp;&nbsp;
        <a asp-page="../RoleMgmt">Back</a>
    </small>
</h5>
<hr />

<partial name="_AccessRoleHeader" for="AccessRole" />