@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.ConfigMgmtModel

@{
    ViewData["Title"] = "Acc/Auth Config";
}

<header>
    <h5>@ViewData["Title"]</h5>
</header>

<hr />

<a class="btn btn-link btn-sm"
   onclick="jQuery('.collapse').collapse('hide');"
   data-toggle="collapse"
   href="#collapseGeneral"
   role="button"
   aria-expanded="false"
   aria-controls="collapseGeneral">
    General
</a>
<a class="btn btn-link btn-sm"
   onclick="jQuery('.collapse').collapse('hide');"
   data-toggle="collapse"
   href="#collapseUserOptions"
   role="button" aria-expanded="false"
   aria-controls="collapseuserOptions">
    User
</a>
<a class="btn btn-link btn-sm"
   onclick="jQuery('.collapse').collapse('hide');"
   data-toggle="collapse"
   href="#collapsePasswordOptions"
   role="button"
   aria-expanded="false"
   aria-controls="collapsePasswordOptions">
    Password
</a>
<a class="btn btn-link btn-sm"
   onclick="jQuery('.collapse').collapse('hide');"
   data-toggle="collapse"
   href="#collapseLockoutOptions"
   role="button"
   aria-expanded="false"
   aria-controls="collapseLockoutOptions">
    Lockout
</a>
<a class="btn btn-link btn-sm"
   onclick="jQuery('.collapse').collapse('hide');"
   data-toggle="collapse"
   href="#collapseSignInOptions"
   role="button"
   aria-expanded="false"
   aria-controls="collapseSignInOptions">
    Sign-In
</a>

<hr />

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<div class="collapse show row form-horizontal" id="collapseInstructions">
    <div class="col">
        <div class="form-group text-info">
            Select options above to toggle view.
        </div>
    </div>
</div>

<div class="collapse row form-horizontal" id="collapseGeneral">
    <div class="col">
        <div class="form-group">
            <b>General</b>
        </div>
        <div class="form-group">
            <label asp-for="AccAuthConfiguration.SiteTitle" class="control-label"></label>
            <input asp-for="AccAuthConfiguration.SiteTitle" class="form-control" readonly />
        </div>
        <div class="form-group">
            @if (Model.AccAuthConfiguration.InvitationOnly)
            {
                <i class="far fa-check-square"></i>
            }
            else
            {
                <i class="far fa-square"></i>
            }
            <label asp-for="AccAuthConfiguration.InvitationOnly" class="form-check-label @(@Model.AccAuthConfiguration.InvitationOnly ? "text-danger" : "")"></label>
        </div>
        <div class="form-group">
            <label asp-for="AccAuthConfiguration.InvitationExpirationDays" class="control-label"></label>
            <input asp-for="AccAuthConfiguration.InvitationExpirationDays" class="form-control" readonly />
        </div>
    </div>
</div>

<div class="collapse row form-horizontal" id="collapseUserOptions">
    <div class="col">
        <div class="form-group">
            <b>User Options</b>
        </div>

        @if (Model.AccAuthConfiguration.UserOptions == null)
        {
            <div class="form-group text-info">
                User Options not set through configuration.
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label">Allowed Username Characters</label>
                <input asp-for="AccAuthConfiguration.UserOptions.AllowedUserNameCharacters" class="form-control" readonly />
            </div>
            <div class="form-group">
                @if (Model.AccAuthConfiguration.UserOptions.RequireUniqueEmail)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Require Unique Email</label>
            </div>
        }
    </div>
</div>

<div class="collapse row form-horizontal" id="collapsePasswordOptions">
    <div class="col">
        <div class="form-group">
            <b>Password Options</b>
            &nbsp;
        </div>

        @if (Model.AccAuthConfiguration.PasswordOptions == null)
        {
            <div class="form-group text-info">
                Password Options not set through configuration.
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label">Required Length</label>
                <input asp-for="AccAuthConfiguration.PasswordOptions.RequiredLength" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Required Unique Characters</label>
                <input asp-for="AccAuthConfiguration.PasswordOptions.RequiredUniqueChars" class="form-control" readonly />
            </div>
            <div class="form-group">
                @if (Model.AccAuthConfiguration.PasswordOptions.RequireNonAlphanumeric)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Require Non Alphanumeric</label>
            </div>
            <div class="form-group">
                @if (Model.AccAuthConfiguration.PasswordOptions.RequireLowercase)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Require Lowercase</label>
            </div>
            <div class="form-group">
                @if (Model.AccAuthConfiguration.PasswordOptions.RequireUppercase)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Require Uppercase</label>
            </div>

            <div class="form-group">
                @if (Model.AccAuthConfiguration.PasswordOptions.RequireDigit)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Require Digit</label>
            </div>
        }
    </div>
</div>

<div class="collapse row form-horizontal" id="collapseLockoutOptions">
    <div class="col">
        <div class="form-group">
            <b>Lockout Options</b>
        </div>

        @if (Model.AccAuthConfiguration.LockoutOptions == null)
        {
            <div class="form-group text-info">
                Lockout Options not set through configuration.
            </div>
        }
        else
        {

            <div class="form-group">
                @if (Model.AccAuthConfiguration.LockoutOptions.AllowedForNewUsers)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Allowed For New Users</label>
            </div>
            <div class="form-group">
                <label class="control-label">Max Failed Access Attempts</label>
                <input asp-for="AccAuthConfiguration.LockoutOptions.MaxFailedAccessAttempts" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Default Lockout Time Span</label>
                <input asp-for="AccAuthConfiguration.LockoutOptions.DefaultLockoutTimeSpan" class="form-control" readonly />
            </div>
        }
    </div>
</div>

<div class="collapse row form-horizontal" id="collapseSignInOptions">
    <div class="col">
        <div class="form-group">
            <b>Sign-In Options</b>
        </div>

        @if (Model.AccAuthConfiguration.SignInOptions == null)
        {
            <div class="form-group text-info">
                Sign-In Options not set through configuration.
            </div>
        }
        else
        {
            <div class="form-group">
                @if (Model.AccAuthConfiguration.SignInOptions.RequireConfirmedEmail)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Require Confirmed Email</label>
            </div>
            <div class="form-group">
                @if (Model.AccAuthConfiguration.SignInOptions.RequireConfirmedPhoneNumber)
                {<i class="far fa-check-square"></i> }
                else
                { <i class="far fa-square"></i>}
                @*<input asp-for="AccAuthUser.IsActive" type="checkbox" class="form-check-input" disabled />*@
                <label class="form-check-label">Require Confirmed Phone Number</label>
            </div>
        }
    </div>
</div>