@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.AccAuthInvites.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Application Invitation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AccAuthInvite.Email" class="control-label"></label>
                <input asp-for="AccAuthInvite.Email" class="form-control" />
                <span asp-validation-for="AccAuthInvite.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccAuthInvite.DisplayName" class="control-label"></label>
                <input asp-for="AccAuthInvite.DisplayName" class="form-control" />
                <span asp-validation-for="AccAuthInvite.DisplayName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="AccAuthInvite.IsServiceAccount" />
                <label asp-for="AccAuthInvite.IsServiceAccount"></label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="../InvitationMgmt" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}