@page
@model Sjg.IdentityCore.Areas.UserMgmt.Pages.AccAuthInvites.DeleteModel

@{
    ViewData["Title"] = "Delete Invitation";
}

<h5>@ViewData["Title"]</h5>

<hr />

<partial name="_ValidationSummary" for="ViewData.ModelState" />

<hr />

<div class="row form-horizontal">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label asp-for="AccAuthInvite.Email" class="control-label"></label>
            <input asp-for="AccAuthInvite.Email" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="AccAuthInvite.DisplayName" class="control-label"></label>
            <input asp-for="AccAuthInvite.DisplayName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="AccAuthInvite.ExpirationDateUtc" class="control-label"></label>
            <input asp-for="AccAuthInvite.ExpirationDateUtc" class="form-control" readonly />
        </div>
        <div class="form-group form-check">
            <input asp-for="AccAuthInvite.IsServiceAccount" type="checkbox" class="form-check-input" disabled />
            <label asp-for="AccAuthInvite.IsServiceAccount" class="form-check-label"></label>
        </div>
    </div>
</div>

<div>

    <h5>Are you sure you want to delete this?</h5>

    <form method="post">
        <input type="hidden" asp-for="AccAuthInvite.AccAuthInviteId" />
        <input type="submit" value="Delete" class="btn btn-success" />
        <a asp-page="../AccAuthInvites/Details" asp-route-id="@Model.AccAuthInvite.AccAuthInviteId" class="btn btn-danger">Cancel</a>
    </form>
</div>