<!DOCTYPE html>
@{
    // Get the RCL build date.  Set with Pre-Build Event.
    var version = Sjg.IdentityCore.BuildDate.GetDateTimeVersion();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/Sjg.IdentityCore/bootstrap/dist/css/bootstrap.css?v=@version" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sjg.IdentityCore/fontawesome/css/all.css?v=@version" asp-append-version="true">
    <link rel="stylesheet" href="~/Sjg.IdentityCore/css/site.css?v=@version" asp-append-version="true" />
</head>

<body>

    @* Header ================================================== *@
    <div class="container">
        @await Html.PartialAsync("_Navbar")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @* css, js, fonts, etc.. from embedded static resources - use version *@
    <script src="~/Sjg.IdentityCore/jquery/jquery.slim.js?v=@version" asp-append-version="true"></script>
    <script src="~/Sjg.IdentityCore/popper.js/umd/popper.js?v=@version" asp-append-version="true"></script>
    <script src="~/Sjg.IdentityCore/bootstrap/dist/js/bootstrap.js?v=@version" asp-append-version="true"></script>

    <script src="~/Sjg.IdentityCore/qrcode/qrcode.js"></script>

    <environment include="Development">
        <script src="~/Sjg.IdentityCore/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Sjg.IdentityCore/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>